node_modules
.next
dist
build
.env
.env.local
archive/
.env.production
.env.*.local
.vercel
*.log
*.tsbuildinfo
.turbo
backend/ai-cli/.recordings
backend/ai-cli/storage

# Local Netlify folder
.netlify
